extends layout

block content
  h1= title
  .ui.green.button#create1
    |   Create Post 1
  br
  br
  .ui.green.button#create2
    |   Create Post 2
  br
  br
  .ui.blue.button#read
    |   Read Post
  br
  br
  .ui.blue.button#read2
    |   Read Post 2
  br
  br
  .ui.orange.button#update
    |   Update Post
  br
  br
  .ui.orange.button#update2
    |   Update Post 2
  br
  br
  .ui.red.button#destroy
    |   Destroy Post
  br
  br
  .ui.green.button#create3
    |   Create Review
  br
  br
  .ui.blue.button#read3
    |   Read Reviews
  br
  br
  .ui.blue.button#read4
    |   Read Review (specific)
  br
  br
  .ui.orange.button#update3
    |   Update Review 1
  br
  br
  .ui.orange.button#update4
    |   Update Review 2
  br
  br
  .ui.red.button#destroy2
    |   Destroy Post
  br
  br
  .ui.blue.button#read5
    |   Read Search "Deadpool"
  br
  br
  .ui.blue.button#read6
    |   Read Deadpool Reviews with search "another"
  br
  br
